.fade-container {
  /* background-color: red; */
  transition: 0.6s;
}

.layer {
  background-color: #232323;
  opacity: 0.4;
  z-index: 999999;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.6s;
}

.fade-container.building {
}
.fade-container.built {
}
.fade-container.fading {
}
.fade-container.faded {
  /* display: none; */
}

.layer.building {
  /* background-color: green; */
}
.layer.built {
  opacity: 0;
}
.layer.fading {
  /* background-color: blue; */
}
.layer.faded {
  /* background-color: black; */
  opacity: 1;

  /* opacity: 1; */
}
@keyframes shrink {
  0% {
    /* height: 100%; */
  }
  100% {
    height: 0%;
  }
}

/* @keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
/* @keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
